<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Points of interest to Date
        </caption>
        <thead>
        <th>Island Name</th>
        <th>Description</th>
        <th>Contributor</th>
        <th>Update</th>
        <th>Delete</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each point}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{contributor.firstName}} {{contributor.lastName}}</td>
                <td>
                    <a href="/updatepoint"><button class=>Update</button></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>