
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="Islands of Ireland" subTitle="Reviews of Islands added so far"}}
  {{> main-menu _id="review"}}
</div>
</div>

{{> listreview }}
